.row
  .col-md-10.col-md-offset-1
    .row
      .col-sm-8
        %h3
          = link_to "Minhas Integrações", integrations_path
          = "/"
          = @integration.site_name
    %hr
    = render "form"